.box {
  color: var(--accent-color);
  width: 100%;
  margin: 10px auto;
  border: 5px solid var(--accent-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .box {
    width: 50%;
  }
}
